---
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";

type Props = {
  title?: string;
};

const { title = "Ben Holmes" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Tilt Neon";
    src: url("/fonts/Tilt_Neon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
  }
</style>
